{% extends 'layout.html' %}
{% block head_title %}Checkout{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  <div class="page-header">
    <h1>Checkout</h1>
  </div>

  {% if menuitems|length > 0 %}
    {% include 'cart/_show_many_menuitems.html' %}
  {% else %}
    {% include 'cart/_empty_cart.html' %}
  {% endif %}

  <form method="post" action="{{ url_for('orders.create') }}" accept-charset="utf-8" role="form">
    {{ form.csrf_token }}
    <input type="hidden" name="menuitem_ids" value="{{ menuitem_ids }}">
    {% with errors = get_flashed_messages(category_filter = ['form_errors']) %}
      {% if errors %}
        <div class="alert alert-warning">
          <ul class="list-unstyled">
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    <h2>Options</h2>
    {{ wtf.form_field(form.is_delivery, class = 'form-control', placeholder = 'Delivery?', autofocus = '') }}
    {{ wtf.form_field(form.ready_by, class = 'form-control flatpickr', placeholder = 'Deliver/pickup by') }}

    <h2>Payment</h2>
    {{ wtf.form_field(form.card_number, class = 'form-control', placeholder = 'Card number') }}

    <div class="form-group">
      <input type="submit" value="Submit Order" class="btn btn-primary mr-2">
    </div>
  </form>
{% endblock %}