{% extends 'layout.html' %}
{% block head_title %}Cart{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Cart</h1>
  </div>
  {% if current_user is defined %}
    <div class="btn-toolbar mb-4">
      <div class="btn-group mr-2">
        <a href="{{ url_for('cart.checkout') }}" class="btn btn-dark"><i class="fas fa-credit-card"></i> Checkout</a>
      </div>
    </div>
  {% endif %}

  {% if menuitems|length > 0 %}
    {% include 'cart/_show_many_menuitems.html' %}
  {% else %}
    {% include 'cart/_empty_cart.html' %}
  {% endif %}
{% endblock %}