{% extends 'layout.html' %}
{% block head_title %}Cart{% endblock %}

{% block content %}
  <div class="page-header">
    <h2>Cart</h2>
  </div>
  {% if current_user is defined %}
    <div>
      <a href="{{ url_for('cart.checkout') }}" class="btn peking-button peking-button--checkout"><i class="fas fa-credit-card"></i> Checkout</a>
    </div>
  {% endif %}

  {% if menuitems|length > 0 %}
    {% include 'cart/_show_many_menuitems.html' %}
  {% else %}
    {% include 'cart/_empty_cart.html' %}
  {% endif %}
{% endblock %}