{% if categories|count > 0 %}
  <div class="menu-overview">
    {% for category in categories %}
      <div class="card">
        <a href="{{ url_for('categories.show', name = category.name.lower()) }}">
        <img class="card-img-top menu-categories-img" src="{{ url_for('static', filename = category.image_url_path) }}" alt="{{ category.name }}"></a>
        <div class="card-body">
          <h4 class="card-title">{{ category.name }}</h4>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  {% include '_error_no_content.html' %}
{% endif %}