{% if menuitems|length > 0 %}
  <div class="row">
    {% for menuitem in menuitems %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="/menuitems/{{ menuitem.id }}" class="menuitem-link">
          <h2 class="h4 menuitem-title">{{ menuitem.title }}</h2>
          <img src="https://via.placeholder.com/300x150.png?text=Photo" alt="{{ menuitem.name }}" class="img img-responsive rounded w-100">
        </a>
      </div>
    {% endfor %}
  </div>
{% else %}
  {% include '_error_no_content.html' %}
{% endif %}