{% if menuitems|length > 0 %}
  <div class="row">
    {% for menuitem in menuitems %}
      <div class="col-sm-6 col-md-4 mb-4">
        <div class="bg-light rounded">
          <img src="https://via.placeholder.com/300x300.png?text=Photo" alt="{{ menuitem.name }}" class="img img-responsive rounded w-100">
          <div class="mt-2">
            <h2 class="h5 w-100">
              {{ menuitem.name }}
              <form action="/menu/{{ menuitem.id }}/add" method="post">
                <input type="submit" value="Order" class="btn btn-dark pull-right">Order</input>
              </form>
            </h2>
            <p>{{ menuitem.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  {% include '_error_no_content.html' %}
{% endif %}