{% extends 'layout.html' %}
{% block head_title %}Menu - Appetizers{% endblock %}

{% block content %}
  {% include '_sub_nav.html' %}
  <div class="page-header">
    <h2>APPETIZERS</h2>
  
  {# ****************** Re-enable Content Between for Production

  {% include 'menuitems/_show_many.html' %}
  Re-enable Content Between for Production ****************** #}

<!-- Remove Content Between for Production -->
    <div class="menu-overview">
      <div class="card">
        <img class="card-img-top" src="../../static/assets/img/appetizers-crab-rangoon.jpg" alt="Crab rangoon">
        <div class="card-body">
          <h4 class="card-title">Crab Rangoon</h4>
          <p class="card-text">Creamy crab filling, bell pepper and green onion, fried to perfection and served with a spicy plum sauce</p>
          <p><b>$10.00</b></p>
          <div class="card-footer-order">
            <input type="submit" value="Order" class="btn order-btn">
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../static/assets/img/appetizers-edamame.jpg" alt="Steamed edamame">
        <div class="card-body">
          <h4 class="card-title">Edamame</h4>
          <p class="card-text">Lightly steamed edamame, tossed in koscher salt with just a hint of spice</p>
          <p><b>$10.00</b></p>
          <div class="card-footer-order">
            <input type="submit" value="Order" class="btn order-btn">
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../static/assets/img/appetizers-pot-stickers.jpg" alt="Pork dumplings">
        <div class="card-body">
          <h4 class="card-title">Pork Dumplings</h4>
          <p class="card-text">Steamed, then pan-fried, chive and pork dumplings, served with a light chili-soy sauce</p>
          <p><b>$10.00</b></p>
          <div class="card-footer-order">
            <input type="submit" value="Order" class="btn order-btn">
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../static/assets/img/appetizers-eggrolls.jpg" alt="Pork eggrolls">
        <div class="card-body">
          <h4 class="card-title">Pork Eggrolls</h4>
          <p class="card-text">Hand-rolled and deep-fried savory pork, rice noodles, and julienned carrots, cabbage and mushrooms, served with a tangy sweet and sour sauce</p>
          <p><b>$10.00</b></p>
          <div class="card-footer-order">
            <input type="submit" value="Order" class="btn order-btn">
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../static/assets/img/appetizers-tempura.jpg" alt="Tempura calmari and vegatables">
        <div class="card-body">
          <h4 class="card-title">Tempura Calmari and Vegatables</h4>
          <p class="card-text"> A crisp medley of calamari, bell pepper, baby spinach and carrots, on a bed of rice noodles, drizzled with a sriracha-honey sauce</p>
          <p><b>$10.00</b></p>
          <div class="card-footer-order">
            <input type="submit" value="Order" class="btn order-btn">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}