{% extends 'layout.html' %}
{% block head_title %}New Menu Item{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="page-header">
  <h2>New Menu Item</h2>
</div>

<form method="post" action="{{ url_for('menuitems.create') }}" accept-charset="utf-8" role="form">
  {{ form.csrf_token }}
  {% with errors = get_flashed_messages(category_filter = ['form_errors']) %}
    {% if errors %}
      <div class="alert alert-warning">
        <ul class="list-unstyled">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  {{ wtf.form_field(form.name, class = 'form-control', placeholder = 'Name', autofocus = '') }}
  {{ wtf.form_field(form.description, class = 'form-control', placeholder = 'Description') }}
  {{ wtf.form_field(form.price, class = 'form-control', placeholder = 'Price') }}
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary">
  </div>
</form>
{% endblock %}