{% extends 'layout.html' %}
{% block head_title %}Delicious, Athentic Asian Cuisine{% endblock %}

{% block content %}
<div class="page-header">
  <h2>Peking Restaurant</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis a cras semper auctor neque. Pulvinar etiam non quam lacus. Non pulvinar neque laoreet suspendisse interdum consectetur libero id. Nulla facilisi cras fermentum odio. Et malesuada fames ac turpis egestas sed tempus urna. Vitae aliquet nec ullamcorper sit amet risus. Posuere morbi leo urna molestie at elementum eu facilisis sed. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et.</p>

  <p>Integer eget aliquet nibh praesent tristique magna. Posuere morbi leo urna molestie at elementum. Aliquam sem et tortor consequat. At imperdiet dui accumsan sit amet. Nunc vel risus commodo viverra maecenas accumsan lacus. Porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Semper auctor neque vitae tempus quam pellentesque. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Convallis convallis tellus id interdum velit laoreet. Sodales ut etiam sit amet nisl. Purus sit amet luctus venenatis lectus magna fringilla urna.</p>
</div>
{% endblock %}