/* GLOBAL */

/* Color Palette */
/* Red: #8E0404, #D63834 */
/* Yellow: #EFA348, #F7D772 */
/* Green: #93A603 */
/* White: #fdfdfd */
/* Gray: #313131, #bbbbbb */
/* Black: #0D0D0D */



/* css reset */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  height: 100%;
	line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Acme', sans-serif;
}

h2 {
  color: #EFA348;
  font-size: 2.5rem;
  font-weight: bold;
}



/* Map pin, address and phone icons */
.fas{
  margin-left: 12px;
  margin-right: 12px;
}

.page-header {
  border-bottom: none;
}

.pull-right {
  float: right;
}


/* HEADER BANNER */
.header-banner {
  background-color: #313131;
  border-bottom: 5px solid #8E0404;
  color: #fdfdfd;
  padding: 10px;
}

.header-banner p {
  margin: 0px;
}

.header-banner a {
  color: #fdfdfd;
}

.header-banner a:hover {
  color: #93A603;
}

.header-contact, 
.header-account {
  display: inline-block;
}

.header-account {
  width: 100px;
  float: right;
}

.my-account,
.sign-in {
  margin-left: 20px;
  margin-right: 20px;
}


/* PRIMARY NAV */
.primary-nav {
  background-color: #fdfdfd;
  border-bottom: 1px solid #bbbbbb;
}

.logo img{
  height: auto;
  width: 325px;
  margin-top: 20px;
}

.primary-nav li a {
  color: #8E0404;
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
}

.primary-nav li a:hover {
  color: #313131;
}

.cart img {
  height: auto;
  width: 55px;
  margin-left: 10px;
  margin-right: 50px;
}

.cart a{
  color: #93A603;
  font-weight: bold;
}

.cart a:hover{
  text-decoration: none;
}



/* MAIN CONTENT */
.main-body {
  background-image: url("../assets/img/ricepaper2.png");
  background-repeat: repeat;
  flex-grow: 1;
  padding: 1rem;
}

.main-body p {
  color: #313131;
}

.page-header h2{
  text-align: center;
}



/* ABOUT US */
.hero img {
  height: auto;
  width: 100%;
}



/*  MENU */
.menu-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: transparent;
  border: none;
  margin: 15px 12px;
  width: 31%;
  vertical-align: top;
}

.card a:hover {
  text-decoration: none;
}

.card-body {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(49, 49, 49, 0.5);
}

.card-img-top:hover {
  box-shadow: 0 0 0.5rem 0.25rem rgba(214, 56, 52, 0.5)
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-footer-order {
  background-color: transparent;
  border: 0;
  margin-top: auto;
}

img.beverages {
  height: auto;
  width: 100%;
}

.beverage-list {
  margin: 40px 20px;
}

.drink {
  padding: 5px 200px 5px 0;
}


/* MENU SUB-NAV */
.sub-nav {
  background-color: #d63834;
  margin-bottom: 30px;
}

.sub-nav li{
  display: inline-block;
  font-size: 1rem;
  list-style: none;
  padding: 0 54px;
}

.sub-nav a{
  color: #fdfdfd;
}

.sub-nav a:hover {
  text-decoration: underline;
}

.sub-nav a.active {
  color: #F7D772;
  text-decoration: underline;
}



/* CONTACT US*/
.hours p {
  margin-bottom: 0;
}

.contact-form-map {
  display: inline-block;
  width: 67%;
}

#map {
  height: 400px;
  width: 100%; 
}

.hours-contact {
  vertical-align: top;
  display: inline-block;
  width: 32%;
}

.open-hours,
.main-contact {
  background-color: rgb(253, 253, 253, 0.75);
  border-radius:5px;
  margin: 10px;
  padding: 20px;
}

.highlight-day {
  color: #D63834;
  font-weight: bold;
}

ul.day-of-week-hours {
  list-style-type: none;
}

.main-contact a{
  color: #313131;
  text-decoration: underline;
}

.main-contact a:hover{
  color: #93A603;
}



/* FOOTER */
.footer {
  background-color:#313131;
  border-top: 25px solid #8E0404;
  color: #fdfdfd;
}

.footer a{
  color: #fdfdfd;
  text-decoration: underline;
}

.footer a:hover {
  color: #93A603;
}

.footer li{
  display: inline-block;
}

.social, 
.reviews, 
.footer-contact {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin: 30px 5px;
}

.social {
  text-align: center;
}

/* Social media icons */
.fab{
  margin: 5px;
}

.footer-company-details {
  text-align: center;
  }

.attribution {
  background-color: #0D0D0D;
  color: #bbbbbb;
  font-size: 11px;
  padding-top: 3px;
  text-align: center;
}

.attribution p{
  margin-bottom: 0;
}

.attribution a{
  color: #bbbbbb;
}



/* FORMS */
label {
  font-weight: bold;
}



/* BUTTONS */
.order-now-cta, .form-submit-btn, .order-btn {
  background-color: #D63834;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(49, 49, 49, 0.5);
  color: #fdfdfd;
  padding: 20px;
}

a.order-now-cta {
  font-size: 1rem;
  font-weight: bold;
  left: 850px;
  top: -100px;
  position: relative;
  z-index: 1;
}

a.order-now-cta:hover {
  color: #F7D772;
  text-decoration: none;
}

.form-submit-btn {
  padding: 10px 20px;
  margin-right: 20px;
}

.order-btn {
  padding: 5px 0;
  width: 100%;
}

.order-btn:hover, 
.form-submit-btn:hover {
  color: #F7D772;
}


/* ALERTS */


/* OVERRIDE */
.form-control {
  width: 400px
}

.form-control:focus {
  border-color: #D63834;
  box-shadow: 0 0 0 0.2rem rgb(142, 4, 4, 0.25);
}

.alert {
  margin-bottom: 0;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

