/* GLOBAL */

/* Color Palette */
/* Red: #8E0404, #D63834 */
/* Yellow: #EFA348, #F7D772 */
/* Green: #93A603 */
/* White: #fdfdfd */
/* Gray: #313131, #bbbbbb */
/* Black: #0D0D0D */



/* css reset */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
	line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Acme', sans-serif;
}

h2 {
  color: #EFA348;
  font-size: 2.5rem;
  font-weight: bold;
}



/* Map pin, address and phone icons */
.fas{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.page-header {
  border-bottom: none;
}

.pull-right {
  float: right;
}


/* HEADER BANNER */
.header-banner {
  background-color: #313131;
  border-bottom: 0.5rem solid #8E0404;
  color: #fdfdfd;
  font-size: 0.875rem;
  padding: 1rem;
}

.header-banner p {
  margin: 0;
}

.header-banner a {
  color: #fdfdfd;
}

.header-banner a:hover {
  color: #93A603;
}

.header-account {
  width: 13rem;
  float: right;
}

.sign-in {
  width: 6rem;
  float: right;
}

.my-account {
  display: inline-block;
}



/* PRIMARY NAV */
.primary-nav {
  background-color: #fdfdfd;
  border-bottom: 0.05rem solid #bbbbbb;
}

.logo img{
  height: auto;
  width: 20rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.primary-nav li a {
  color: #8E0404;
  font-size: 1.125rem;
  margin: 0.938rem;
}

.primary-nav li a:hover {
  color: #313131;
  text-decoration: underline;
}

.cart img {
  height: auto;
  width: 3.438rem;
  margin-left: 0.625rem;
  margin-right: 3.125rem;
}

.cart a{
  color: #93A603;
  font-weight: bold;
}

.cart a:hover{
  text-decoration: none;
}



/* MAIN CONTENT */
.main-body {
  background-image: url("../assets/img/ricepaper2.png");
  background-repeat: repeat;
  flex-grow: 1;
  padding: 1rem;
}

.main-body p {
  color: #313131;
}



/* ABOUT US */
.hero img {
  height: auto;
  width: 100%;
}



/*  MENU */
.menu-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: transparent;
  border: none;
  margin: 15px 12px;
  width: 31%;
  vertical-align: top;
}

.card a:hover {
  text-decoration: none;
}

.card-body {
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem rgba(49, 49, 49, 0.5);
}

.card-img-top:hover {
  box-shadow: 0 0 0.5rem 0.25rem rgba(214, 56, 52, 0.5)
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-footer-order {
  background-color: transparent;
  border: 0;
  margin-top: auto;
}

img.beverages {
  height: auto;
  width: 100%;
}

.beverage-list {
  margin: 2.5rem 1.25rem;
}

.drink {
  padding: 0.313rem 12.5rem 0.313rem 0;
}


/* MENU SUB-NAV */
.sub-nav {
  background-color: #d63834;
  margin-bottom: 1.875rem;
}

.sub-nav li{
  display: inline-block;
  font-size: 1rem;
  list-style: none;
  padding: 0 3.375rem;
}

.sub-nav a{
  color: #fdfdfd;
}

.sub-nav a:hover {
  text-decoration: underline;
}

.sub-nav a.active {
  color: #F7D772;
  text-decoration: underline;
}



/* CONTACT US*/
.hours p {
  margin-bottom: 0;
}

.contact-form-map {
  display: inline-block;
  width: 67%;
}

#map {
  height: 25rem;
  width: 100%; 
}

.hours-contact {
  vertical-align: top;
  display: inline-block;
  width: 32%;
}

.open-hours,
.main-contact {
  background-color: rgb(253, 253, 253, 0.75);
  border-radius:5px;
  font-size: 0.875rem;
  margin: 0.625rem;
  padding: 1.25rem;
}

.highlight-day {
  color: #D63834;
  font-weight: bold;
}

ul.day-of-week-hours {
  list-style-type: none;
}

.main-contact a{
  color: #313131;
  text-decoration: underline;
}

.main-contact a:hover{
  color: #93A603;
}



/* CART */
.cart-description {
  font-size: 0.875rem;
}


/* FOOTER */
.footer {
  background-color:#313131;
  border-top: 1.563rem solid #8E0404;
  font-size: 0.875rem;
  color: #fdfdfd;
}

.footer a{
  color: #fdfdfd;
  text-decoration: underline;
}

.footer a:hover {
  color: #93A603;
}

.footer li{
  display: inline-block;
}

.social, 
.reviews, 
.footer-contact {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  margin: 1.875rem 0.313rem;
}

.social {
  text-align: center;
}

/* Social media icons */
.fab{
  margin: 0.313rem;
}

.footer-company-details {
  text-align: center;
  }

.attribution {
  background-color: #0D0D0D;
  color: #bbbbbb;
  font-size: 0.688rem;
  padding-top: 0.188rem;
  text-align: center;
}

.attribution p{
  margin-bottom: 0;
}

.attribution a{
  color: #bbbbbb;
}



/* FORMS */
label {
  font-weight: bold;
}



/* BUTTONS */
.peking-button {
  background-color: #D63834;
  border-radius: 0.313rem;
  box-shadow: 0.188rem 0.188rem .313rem rgba(49, 49, 49, 0.5);
  color: #fdfdfd;
}

a.peking-button--cta {
  font-size: 1rem;
  font-weight: bold;
  left: 53.125rem;
  top: -6.25rem;
  position: relative;
  z-index: 1;
}

.peking-button--cta {
  padding: 1.25rem;
}

.peking-button--contact, 
.peking-button--add-category, 
.peking-button--add-menu, 
.peking-button--sign-in,
.peking-button--sign-up, 
.peking-button--remove {
  padding: 10px 20px;
  margin-right: 20px;
}

.peking-button--order {
  padding: 0.313rem 0;
  width: 100%;
}

.peking-button:hover {
  color: #F7D772;
  text-decoration: none;
}



/* ALERTS */


/* OVERRIDE */
.form-control {
  width: 24rem;
}

.form-control:focus {
  border-color: #D63834;
  box-shadow: 0 0 0 0.2rem rgb(142, 4, 4, 0.25);
}

.alert {
  margin-bottom: 0;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

