<footer class="footer">
  <div class="container">

    {# Left - Contact Information #}
    <div class="footer-contact">
      <h3>CONTACT US</h3>
      <p><i class="fas fa-map-marker-alt"></i>2630 Hegal Place, Alexandria, Virginia, 23242</p>
      <p><a href="tel:555-867-5309"><i class="fas fa-phone"></i>555&#8209;867&#8209;5309</a></p>
      <p><a href="mailto:support@peking-restaurant.com"><i class="fas fa-envelope"></i>support@peking-restaurant.com</a></p>
    </div>

    {# Middle - Social #}
    <div class="middle-ground">
      <div class="social">
        <ul>
          <li><a href="#" target="_blank"><i class="fab fa-yelp fa-lg"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-twitter fa-lg"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a></li>
        </ul>
      </div>
      <div class="get-app">
        <p>ORDER THROUGH THE APP!</p>
        <a href="#" target="blank"><img class="apple-store" src="{{ url_for('static', filename='assets/img/Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg') }}" alt="Apple Store app"></a>
        <a href="#" target="blank"><img class="google-play" src="{{ url_for('static', filename='assets/img/google-play-badge.png') }}" alt="Google Play app"></a>
      </div>
    </div>

    {# Right - Reviews #}
    <div class="reviews">
      <span class="yelp-review" data-review-id="UsekWPd7i0f1rTNVhtp6hg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=em-3RgYrHoxhiBpxVii3mA" rel="nofollow noopener">Ella N.</a>'s <a href="https://www.yelp.com/biz/peking-restaurant-westminster?hrid=UsekWPd7i0f1rTNVhtp6hg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/4byWOSQUM9BxAf7FUU7LiQ" rel="nofollow noopener">Peking Restaurant</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
    </div>


  </div>

  {# Sub Footer #}
  <div class="sub-footer">
    <div class="footer-company-details">
      <ul>
        <li>&copy;2020 Peking Restaurant |</li>
        <li><a href="#">Sitemap</a> |</li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="attribution">
      <p>Website for educational purposes only | Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> | Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
    </div>

    {# Mobile Order/Contact Footer #}
    <div class="mobile-order-contact">
      <a href="{{ url_for('menuitems.index') }}" class="peking-button peking-button--mobile">ORDER NOW</a>
      <p><a href="tel:555-867-5309"><i class="fas fa-phone"></i>555&#8209;867&#8209;5309</a></p>
    </div>

  </div>
</footer>