<footer class="footer">
  <!-- FOOTER -->
  <div class="social">
    <img src="{{url_for('static', filename='assets/img/f_logo_RGB-Blue_58.png')}}" alt="Facebook">
    <img src="{{url_for('static', filename='assets/img/Twitter_Social_Icon_Circle_Color.png')}}" alt="Twitter">
    <img src="{{url_for('static', filename='assets/img/glyph-logo_May2016.png')}}" alt="Instagram">
    <img src="{{url_for('static', filename='assets/img/LI-In-Bug.png')}}" alt="LinkedIn"> 
    <!-- <img src="../static/assets/img/f_logo_RGB-Blue_58.png" alt="Facebook">
    <img src="../static/assets/img/Twitter_Social_Icon_Circle_Color.png" alt="Twitter">
    <img src="../static/assets/img/glyph-logo_May2016.png" alt="Instagram">
    <img src="../static/assets/img/LI-In-Bug.png" alt="LinkedIn"> -->
  </div>
  <div class="footer-company-details">
    <p>&copy;2020 Peking Restaurant</p>
    <a href="">Sitemap</a>
    <a href="">Privacy Policy</a>
  </div>
  <div class="attribution">
    Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>
</footer>