<nav class="navbar bg-light">
  <div class="container">
    <a href="/"><h1 class="logo">Peking Restaurant</h1></a>
    <ul class="nav navbar-nav ml-auto">
      <li clas="navbar-item"><a class="p-2 text-dark" href="/registration-login">Order Now</a></li>
      <li class="navbar-item"><a class="p-2 text-dark" href="/menu">Menu</a></li>
      <li class="navbar-item"><a class="p-2 text-dark" href="/account_settings">Account Settings</a></li>
      {% if current_user is not none %}
        <li class="navbar-item"><a href="/users" class="nav-link">Create an Account</a></li>
      {% else %}
        <li class="navbar-item"><a href="/sessions/new" class="nav-link">Sign In</a></li>
      {% endif %}
      {# TODO <li class="navbar-item"></li><a class="p-2 text-dark" href="/logout">Sign Out</a></li> #}
      <li class="navbar-item"><a href="/cart-checkout"> [[XX Number]] Items <img src="{{url_for('static', filename='assets/icons/order.svg')}}" alt="Shopping cart"></a></li>
    </ul>
  </div>
</nav>
